<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<properties></properties>-->
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="JDBC"></transactionManager>-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="" value=""/>-->
                <!--<property name="" value=""/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->
    <!--&lt;!&ndash;<settings>&ndash;&gt;-->
        <!--&lt;!&ndash;<setting name="" value=""/>&ndash;&gt;-->
    <!--&lt;!&ndash;</settings>&ndash;&gt;-->
    <!--<mappers>-->
    <!--</mappers>-->
</configuration>